@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

/*------------------------- Global Classess ----------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    font-size: 50px;
    font-weight: 800;
  }
  ul{
    font-family: "Century Gothic";
  }
 /*-------x----------------- Global Classess --------------x------- */

/*------------------------- Login Form ----------------------- */

  .login-form {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  }
  .form::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
  }
  .form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255,255,255, 0.8);
    border-radius: 50%;
  }
  .form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #2690DE;
  }
  .form .input-group {
    position: relative;
  }
  .form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
  }
  .form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
  }
  .form .input-group input:focus + label,
  .form .input-group input:valid + label {
    transform: translateY(-18px);
    color: #2690DE;
    font-size: .8rem;
  }

  .submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #2690DE;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .forgot-pw {
    color: inherit;
  }
  
  #forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: 0.6s;
  }
  #forgot-pw:target {
    height: 100%;
    opacity: 1;
  }
  .close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
  }

/*-------x----------------- Login Form --------------x------- */

/*------------------------- Nav Bar    ---------------------- */
nav{
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.264);
  position: relative;
  justify-content: space-between;
  text-align: center;
}

nav .icon{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}

nav ol{
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav ol li{
  margin: 0 5px;  
}

nav ol li a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;

}

nav ol li :hover a{
  background: #fff;
  color: rgba(255, 51, 0, 0.8);

}

nav .search_box{
  display: flex;
  margin: auto 0.5;
  height: 35px;
  line-height: 35px;

}
nav .search_box input{
  border: none;
  outline: none;
  background: #fff;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 350px;
}

nav .search_box button{
  color: rgba(255, 51, 0, 0.8);
  font-size: 20px;
  background: #fff;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

nav .search_box button:hover  {
color: #fff;
}

nav .search_box button ::after{
  height: 100%;
  width: 0%;
  content: '';
  background: #2690DE;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;

}

nav .search_box button:hover ::after{
  width: 100%;

}
/*-------x----------------- Nav Bar    --------------x------- */

/*------------------------- Verses StyleSheet    ---------------------- */



.verseHeading{
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
}

.verseChapter{
  color: rgba(255, 51, 0, 0.8);
  text-align: center;
  font-style: bold;
  font-size: 1.5em;
  font-weight: 1000;
}
.verse{
  overflow: hidden;
  text-align: center;
  font-style: italic;
  font-size: 2.5rem;
}

/*-------x----------------- Verses StyleSheet    -------------x-------- */

/*------------------------- Verses Background Image    ---------------------- */

section.section-bg{
  background: rgba(255,255,255, 0.5) url(/css-files/images/sectionBg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  filter:opacity(0.80);
  min-height: 100vh;
  
}
div.section-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.264); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  overflow: hidden;

}

/*-------x----------------- Verses Background Image    -------------x-------- */
